<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" sc>
    <title>Template</title>
    <!--[if !mso]><!-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!--<![endif]-->

    <style type="text/css">
        @media only screen and (max-width: 480px) {
            table {
                width: 100%;
                border: none;
            }
        }

        body {
            color: #000;
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body bgcolor="#FFFFFF"
    style="font-family: 'Open Sans', sans-serif; background:#ebebeb; padding: 40px 0; overflow-x: hidden; margin: 0px;">
    <table cellpadding='0' cellspacing='0' width="600"
        style="margin:0px auto;display:table; border-collapse: collapse; padding: 0px;">
        <tr>
            <td>
                <table style="background:#fff; margin:0px auto;" width="600" cellpadding='0' cellspacing='0'>
                    <tr>
                        <td colspan="100%" align="center" style="padding: 40px 0 0 0;">
                            <a href="#" style="display: inline-block;">
                                <img src="logo.png" alt="logo" width="160px" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width="40"></td>
                        <td colspan="100%" height="40"></td>
                        <td width="40"></td>
                    </tr>
                    <tr>
                        <td width="40"></td>
                        <td colspan="100%" style="border-top: 1px solid #e3e3e3;"></td>
                        <td width="40"></td>
                    </tr>
                    <tr>
                        <td width="40"></td>
                        <td colspan="100%" height="40"></td>
                        <td width="40"></td>
                    </tr>
                    <tr>
                        <td width="40"></td>
                        <td colspan="100%">
                            <h2
                                style="color: #000; font-size: 20px; margin: 0px; padding-bottom: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600;">
                                Hello!,
                            </h2>
                            <p
                                style="color: #000; font-size: 16px; margin: 0 0 16px 0; font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                Please enter this otp for Reset your password.
                            </p>
                        </td>
                        <td width="40"></td>
                    </tr>
                    <tr>
                        <td width="40"></td>
                        <td colspan="100%" height="40"></td>
                        <td width="40"></td>
                    </tr>
                    <tr>
                        <td width="40"></td>
                        <td colspan="100%" style="border-top: 1px solid #e3e3e3;"></td>
                        <td width="40"></td>
                    </tr>
                    <tr>
                        <td width="40"></td>
                        <td colspan="100%" height="40"></td>
                        <td width="40"></td>
                    </tr>
                    <tr>
                        <td width="40"></td>
                        <td colspan="100%">
                            <ul style="list-style: none; padding: 0px; margin: 0px;">
                                <li style="margin-bottom: 16px;">
                                    <label
                                        style="font-size: 18px; font-family: 'Open Sans', sans-serif; font-weight: 500;">{{
                                        OTP }}</label>
                                </li>
                                <li style="text-align: center; margin-top: 40px;">
                                    <a href="https://www.google.com/"
                                        style="background: #e93231; color: #fff; padding: 8px 20px; display: inline-block; text-decoration: none; border-radius: 4px; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 500;">Click
                                        Here</a>
                                </li>
                            </ul>
                        </td>
                        <td width="40"></td>
                    </tr>
                    <tr>
                        <td width="40"></td>
                        <td colspan="100%" height="40"></td>
                        <td width="40"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>